@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  --color-clean-turkuaz: #00a8b5; /* Turkuaz clean water blue */
  --color-clean-turkuaz-light: #f0fbfb; /* Soft fresh clean background */
  --color-clean-turkuaz-dark: #007c85; /* Trustworthy deep ocean shade */
  
  --color-cozy-gold: #b59223; /* Trustworthy golden brown / warm support shade */
  --color-cozy-gold-light: #fefcf6; /* Cozy warm sunny home accent */
  --color-cozy-gold-accent: #e5c158; /* Balanced sunny gold trim */
  
  --color-clean-grey: #f8fafc; /* Trustworthy light background */
  --color-clean-grey-border: #e2e8f0; /* Gentle grey line */
}
